html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a, a:visited, a:hover, a:focus {
  text-decoration: none;
}

.feature {
  padding: 5.75rem 1.5rem;
  color: #a3a5ae;
  text-align: center;
  font-weight: 200;
}

.feature__intro {
  max-width: 36rem;
  margin: 0 auto;
}

.feature__intro__title {
  font-size: 1.5rem;
  color: #4c4e61;
}

@media (min-width: 37rem) {
  .feature__intro__title {
    font-size: 2.5rem;
  }
}

.feature__intro__headline {
  padding-bottom: 1.25rem;
  font-size: 1.5rem;
  color: #4c4e61;
  font-weight: 600;
}

@media (min-width: 37rem) {
  .feature__intro__headline {
    font-size: 2.5rem;
  }
}

.feature__intro__desc {
  display: inline-block;
  padding-bottom: 4.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.feature__grid {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-items: center;
}

@media (min-width: 37rem) {
  .feature__grid {
    max-width: 52.5rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64rem) {
  .feature__grid {
    max-width: 73.5rem;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: ".          team-builder ." "supervisor team-builder calculator" "supervisor karma        calculator" ".          karma        .";
  }
}

.feature__grid__item {
  position: relative;
  height: 14rem;
  width: 100%;
  max-width: 25rem;
  padding: 1.75rem;
  background-color: white;
  text-align: left;
  border-radius: 0.25rem;
  border-top-width: 0.25rem;
  border-top-style: solid;
}

@media (min-width: 37rem) {
  .feature__grid__item {
    padding-right: 4rem;
  }
}

@media (min-width: 64rem) {
  .feature__grid__item {
    height: 15.75rem;
  }
}

.feature__grid__item.supervisor {
  border-top-color: #45d3d3;
}

.feature__grid__item.supervisor > a:hover, .feature__grid__item.supervisor a:focus {
  color: #45d3d3;
}

@media (min-width: 64rem) {
  .feature__grid__item.supervisor {
    grid-area: supervisor;
  }
}

.feature__grid__item.team-builder {
  border-top-color: #ea5353;
}

.feature__grid__item.team-builder > a:hover, .feature__grid__item.team-builder a:focus {
  color: #ea5353;
}

@media (min-width: 64rem) {
  .feature__grid__item.team-builder {
    grid-area: team-builder;
  }
}

.feature__grid__item.karma {
  border-top-color: #fcaf4a;
}

.feature__grid__item.karma > a:hover, .feature__grid__item.karma a:focus {
  color: #fcaf4a;
}

@media (min-width: 64rem) {
  .feature__grid__item.karma {
    grid-area: karma;
  }
}

.feature__grid__item.calculator {
  border-top-color: #549ef2;
}

.feature__grid__item.calculator > a:hover, .feature__grid__item.calculator a:focus {
  color: #549ef2;
}

@media (min-width: 64rem) {
  .feature__grid__item.calculator {
    grid-area: calculator;
  }
}

.feature__grid__item__title {
  display: inline-block;
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #4c4e61;
}

.feature__grid__item__title:hover {
  cursor: pointer;
}

.feature__grid__item__copy {
  font-size: 0.875rem;
  font-weight: 200;
  color: #a3a5ae;
  line-height: 1.7;
}

.feature__grid__item__icon {
  position: absolute;
  bottom: 1.75rem;
  right: 1.75rem;
  height: 3.5rem;
  width: 3.5rem;
}

@media (min-width: 64rem) {
  .feature__grid__item__icon {
    height: 4.125rem;
    width: 4.125rem;
  }
}

.footer {
  font-size: 0.875rem;
  font-weight: 200;
  color: #4c4e61;
  text-align: center;
}

.footer__attribution {
  max-width: 36rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.footer__attribution__link {
  font-weight: 400;
  color: #4c4e61;
}

.footer__attribution__link:hover {
  display: inline-block;
  padding: 0 0.25rem;
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
}
/*# sourceMappingURL=styles.css.map */