$red : hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$veryDarkBlue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(0, 0%, 98%);

$white: hsl(0,0,100%);


// FONT SIZES

$font-xl: 1.5rem;       //24px
$font-lg: 1.25rem;      //20px
$font-med: 1rem;    //16px
$font-sm: 0.875rem;         //14px 

// FONT WEIGHTS
$font-bold: 600;
$font-normal: 400;
$font-light: 200;